<section>
	<h1>Sécurité</h1>

	<section>
		<h2>Plan de la partie</h2>
		<ul>
			<li>Same Origin Policy</li>
			<li>Méthodes d'authentification</li>
			<li>Comment se protéger ?</li>
		</ul>
	</section>

	<section>
		<h2>Qu'est-ce que la sécurité ?</h2>
		<div class="container">
			<p>La sécurité permet d'assurer: </p>
			<ul>
				<li class="fragment"><strong>L'intégrité</strong>: Impossible d'alterer les informations échangées</li>
				<li class="fragment"><strong>La confidentialité</strong>: Impossible par un tiers d'avoir connaissance des informations</li>
				<li class="fragment"><strong>L'authentification</strong>: Permet de vérifier l'identité des acteurs d'une communication</li>
			</ul>
		</div>
	</section>

	<section>
		<h2>Same Origin Policy</h2>

		<img alt="SOP" src="images/sop.gif">
		<div class="container">
			<p>Empêche le vol de vos données</p>
		</div>
	</section>

	<section>
		<h2>Same Origin Policy</h2>

		<div class="container">
			<p>Les méthodes pour faire du cross-domain: </p>
			<ul>
				<li class="fragment"> JSONP</li>
				<li class="fragment"> CORS</li>
				<li class="fragment"> Server-side proxy </li>
				<li class="fragment"> ... </li>
			</ul>
		</div>
	</section>

	<section>
		<h2>JSON padding</h2>

		<ul>
			<li class="fragment">Les scripts ne sont pas concernés par la same origin policy</li>
			<li class="fragment">Place le contenu du fichier externe dans une balise script</li>
			<li class="fragment">Moins propre que CORS</li>
			<li class="fragment">Nécessite de faire des modifications coté serveur dans le seul but de faire fonctionner correctement le client</li>
		</ul>
	</section>

	<section>
		<h2>Cross-Origin Resource Sharing</h2>

		<ul>
			<li class="fragment">Spécification du W3C</li>
			<li class="fragment">Utilisation d'un en-tête HTTP appelé Origin</li>
			<li class="fragment">Retour avec Access-Control-Allow-Origin</li>
		</ul>

		<img alt="CORS" src="images/cors_preflight.png">

		<div><a href="http://www.w3.org/TR/access-control/">Documentation CORS</a></div>

	</section>

	<section>
		<h2>Secure Socket Layer</h2>
		<div class="container">
			<ul>
				<li class="fragment">SSL est un complément à TCP/IP</li>
				<li class="fragment">SSL est standardisé et opensource</li>
				<li class="fragment">Le client et le serveur négocient des clés et des protocoles de chiffrement communs</li>
			</ul>
		</div>
	</section>

	<section>
		<h2>Méthodes d'authentification</h2>
		<div class="container">
			<ul>
				<li class="fragment">Cookies</li>
				<li class="fragment">Session</li>
				<li class="fragment">CAS (Single Sign-On: SSO)</li>
				<li class="fragment">OpenID: Système décentralisé</li>
				<li class="fragment"> OAUTH 2.0</li>
			</ul>
		</div>
	</section>

	<section>
		<h2>Les cookies</h2>
		<div class="container">
			<ul>
				<li class="fragment">Permet à un site web de stocker des informations textuelles au sein du navigateur</li>
				<li class="fragment">Contient paire nom / valeur, une date d'expiration, un domaine</li>
				<li class="fragment">Les cookies peuvent être facilement modifiés ou captés</li>
			</ul>
		</div>


<pre>
<code class="javascript">
document.cookie = name+"="+value+expires+"; path=/";
</code>
</pre>
	</section>

	<section>
		<h2>Les sessions</h2>
		<div class="container">
			<ul>
				<li class="fragment">Moyen simple de stocker des données individuelles pour chaque utilisateur</li>
				<li class="fragment">Utilise un identifiant de session</li>
				<li class="fragment">Identifiants de session envoyés au navigateur via des cookies de session</li>
			</ul>
		</div>
	</section>

	<section>
		<h2>CAS (Single Sign-On: SSO)</h2>
		<div class="container">
			<ul>
				<li class="fragment">Solution d'authentification centralisée open source</li>
				<li class="fragment">CAS est écrit en Java</li>
				<li class="fragment">Utilise un protocole HTTP standard avec SSL</li>
				<li class="fragment">Demande l'accès à une ressource via un serveur CAS</li>
			</ul>
		</div>
	</section>

	<section>
		<h2>OpenID: Système décentralisé</h2>
		<div class="container">
			<ul>
				<li class="fragment">Solution libre et décentralisée d'authentification unique</li>
				<li class="fragment">Le site web redirige vers un serveur d'authentification OpenID</li>
				<li class="fragment">Redirection vers le site web avec une authentification</li>
			</ul>
		</div>
	</section>

	<section>
		<h2>OAuth 2.0</h2>
		<div class="container">
			<div class="columns two-thirds">
				<img alt="OAuth 2.0 Flow" src="images/oauth2-flow.png">
			</div>

			<div class="columns one-third">
				<p>Autorisation par access token en 3 parties :</p>
				<ul>
					<li class="fragment">Application cliente</li>
					<li class="fragment">Utilisateur</li>
					<li class="fragment">Fournisseur de service</li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<h2>Comment se protéger ?</h2>
		<div class="container">
			<ul>
				<li class="fragment">Faire attention aux données qui transitent</li>
				<li class="fragment">Qui sont consommateurs de l'API ?</li>
				<li class="fragment">Que peuvent-ils faire et pourquoi ?</li>
			</ul>
		</div>
	</section>

	<section>
		<h2>TP</h2>

		<a href="https://gitlab.com/ProgrammationWeb/TP3">https://gitlab.com/ProgrammationWeb/TP3</a>
	</section>

</section>
